.blogs-page {
    background-color: lightblue;
    background-image: url();
    height: 100%;
    display: flex;
    position: relative;
    background-size: cover;
    flex-direction: column;
    padding-top: 3rem;

    h1 {
        text-align: center;
    }

    .blogs {

        .blogs-each {
            border: $border;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
            }

            h2, img, p {
                padding: 1rem 0;
            }

            a {
                color: white;
                font-size: 1rem;
            }

            @media screen and (min-width: 700px) {
                max-width: 45vw;
            }
        }

        @media screen and (min-width: 700px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}

h1, h2, p {
    color: black;
}