.contact-page {
    // background-color: $background;
    // background-image: url();
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
    background-size: cover;
    flex-direction: column;
    padding-top: 50px;

    // h2 {
    //     text-align: center;
    //     padding-top: 1rem;
    // }

    .contact {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;

        img {
            max-width: 500px;
            border-radius: 8px;

            @media screen and (max-width: 700px) {
                max-width: 100%;
            }
        }

        .contact-text {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            background-color: white;
            padding: 1rem 1rem;
            margin-top: 1rem;
            border-radius: 8px;
            box-shadow: 10px 10px 10px 0px rgba(20,20,20,1);

            p {
                padding: 1rem 0;
            }

            .icons {
                display: flex;
                justify-content: center;
            
                .fab {
                    font-size: 2rem;
                    padding: 1rem 2rem;
                    color: #233139;

                    &:hover {
                        color: darkorange;
                        transition: .5s;
                    }
            
                }
            }
        }   

        .contact-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            margin: 2rem 0;
            background-color: white;
            padding: 2rem 0;
            border-radius: 8px;
            box-shadow: 10px 10px 10px 0px rgba(20,20,20,1);

            .info {
                display: flex;
                justify-content: center;
                max-width: 80%;
                margin-left: 10%;

                p {
                    margin-left: 0px;
                    min-width: 30%;
                    border-radius: 4px;
                    color: darkorange;
                    font-weight: 600;
                }

                input[type=text] {
                    // margin-right: 0px;
                    background-color: #233139;
                    color: white;
                    padding: 5px 10px;
                    border-radius: 4px;
                    width: 100%;
                    border-style: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    padding: 5px;
                }

                p, input {
                    margin: 0.5rem 0;
                }
            }

            .message {
                text-align: center;
                margin: 1rem 0;

                textarea {
                    background-color: #233139;
                    border-radius: 4px;
                    width: 80%;
                    height: 5rem;
                    color: white;
                    
                    &::placeholder {
                        font-family: 'Roboto', sans-serif;
                        font-size: 12px;
                        letter-spacing: 0.5px;
                    } 
                }

                [type=text] {
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    padding: 5px;
                    letter-spacing: 0.5px;
                }
            }

            .submit-button {
                text-align: center;

                .submit {
                background-color: #456276;
                color: white;
                padding: 1rem;
                border-radius: 4px;
                border-style: none;
                font-family: 'Volkhov', serif;
                font-size: 16px;
                letter-spacing: 0.5px;
                cursor: pointer;

                &:hover {
                    background-color: darkorange;
                    color: #456276;
                    transition: .5s;
                }
                }
            }
        }

        @media screen and (min-width: 700px) {

            .image-and-text {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2rem;
            
                img {
                    width: 40vw;
                    margin: 0 2vw; 
                }

                .contact-text {
                    display: flex;
                    max-width: 30vw;
                    margin-left: 2vw;

                    p {
                        max-width: 40vw;
                        padding: 0;
                    }

                    h2 {
                        padding-bottom: 1rem;
                    }

                    .icons {
                        .fab {
                            font-size: 2rem;
                            padding: 16px 40px 16px 0;
                        }
                    }
                } 
            }
            
            .contact-form {
                max-width: 500px;

                .info {
                    justify-content: center;
                }

                .message {
                    text-align: center;

                    textarea {
                        width: 80%;
                    }
                }
            }
        }

    }

    @media screen and (min-width: 700px) {
        height: 100vh;
        padding-top: 10vw;
    }
}

// h1, h2, p {
//     color: black;
// }