#landing {
    background-image: url(./docs/waterfall_website.jpg);
    height: 100vh;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        background-color: red;
        width: 100%;
        height: 3rem;
        z-index: 2;
        overflow: hidden;

        ul {
            display: flex;
            list-style-type: none;
            flex-wrap: wrap;

            li a {
                font-family: 'Montserrat', sans-serif;
                color: white;
                font-size: 20px;
                text-decoration: none;
                padding: 2rem;

                &:hover {
                    background-color: black;
                }
            }
        }
    }

    h1, h2 {
        border: 2px solid red;
        color: white;
    }

    h1 {
        font-size: 5rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        padding-bottom: 1rem;;
    }

    .icons {
        padding: 1rem;
        font-size: 1.5rem;

        a {
            color: white;

            @:hover {
                transform: scale(1.1);
                color: #ed6a5a
            }
        }
    }
}

