.web-dev {
    background-color: lightblue;
    background-image: url();
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background-size: cover;
    flex-direction: column;
    padding-top: 50px;

    .projects-text {
        text-align: center;

            h1, p {
                border: $border;
                padding: 1rem 0;
            }
    }

    .projects {

        .project1, .project2 {
            border: $border;
            padding: 1rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 100%;
            }

            h2, img, p {
                padding: 1rem 0;
            }

            a {
                color: white;
                font-size: 1rem;
            }

            @media screen and (min-width: 700px) {
                max-width: 45vw;
            }
        }

        @media screen and (min-width: 700px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .skills {
        border: $border;
        text-align: center;
        padding-top: 1rem;

        .skills-objects {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem;

            img {
                max-width: 1rem;
            }
        }
    }
}

h1, h2, p {
    color: black;
}