.web-dev {
    background-color: $background;
    background-image: url();
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    background-size: cover;
    flex-direction: column;
    padding-top: 50px;

    .projects-text {
        h1, p {
            // border: $border;
            padding: 1rem 0;
        }
        
        h1 {
            text-align: center;
        }
    }

    .projects {

        .project1, .project2 {
            // border: $border;
            background-color: white;
            border-radius: 8px;
            padding: 1rem;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 10px 10px 10px 0px rgba(80,80,80,1);

            img {
                width: 100%;
            }

            h2, img, p {
                padding: 1rem 0;
            }

            a {
                color: white;
                font-size: 1rem;
            }

            .fab {
                color: #233139;
                font-size: 2rem;

                &:hover {
                    color: darkorange;
                }
            }
        }

        // @media screen and (min-width: 700px) {
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     justify-content: center;

        //     .project1, .project2 {
        //         max-width: 45vw;
        //     }
        // }

        // @media screen and (min-width: 1050px) {
        //     .project1, .project2 {
        //     max-width: 30vw;
        //     }
        // }
    }

    .skills {
        // border: $border;
        text-align: center;
        padding-top: 1rem;

        .skills-objects {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 1rem;

            .objects {
                margin: 7vw;
            
                .fab {
                    font-size: 10vw;
                }
                img {
                    max-width: 9vw;
                }
                h3 {
                    font-size: 3vw;
                    font-weight: 600;
                }
            }
        }
    }

    @media screen and (min-width: 700px) {

        .projects-text {
            max-width: 40vw;
            margin-left: 30vw;
        }

        .projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .project1, .project2 {
                max-width: 45vw;
            }
        }

        .skills {

            .skills-objects {

                .objects {

                    margin: 5vw;

                    .fab {
                        font-size: 5vw;
                    }
                    
                    img {
                        max-width: 5vw;
                    }

                    h3 {
                        font-size: 2vw;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1050px) {
        .projects {
            .project1, .project2 {
            max-width: 30vw;
            }
        }
    }
}

h1, h2, p {
    color: black;
}