// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

// VARIABLES
$phone-width: 600px;
$tablet-width: 700px;
$desktop-above-width: 1050px;
$border: 2px solid red;
$background: #8CA7C2;
$box-shadow: 10px 10px 10px 0px rgba(20,20,20,1);

// MIXINS
@mixin heading-font {
    font-family: 'Montserrat', sans-serif;
}
@mixin p-font {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.5px;
    line-height: 25px;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin icon-hover {
    color: darkorange;
    transition: .5s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1, h2, h3 {
    @include heading-font;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

p {
    @include p-font;
}

body {
    background: url(./docs/waterfall_website.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    scroll-behavior: smooth;
}

#header {
    position: fixed;
    background: #233139;
    height: 50px;
    width: 100%;
    z-index: 1;

    ul {
        float: right;
        margin-right: 40px;

        li {
            display: inline-block;
            line-height: 50px;
            margin: 0 2px;

            a {
                color: white;
                font-weight: 500;
                font-size: 20px;
                padding: 7px 13px;
                border-radius: 4px;
                font-family: 'Montserrat', sans-serif;

                &.active, &:hover {
                    background: #456276;
                    transition: .5s;
                }
            }
        }
    }

    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 50px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

    @media screen and (max-width: $desktop-above-width) {

        .checkbtn {
            display: block;
            margin-right: 40px;
        }

        ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #63819A;
            top: 50px;
            left: -100%;
            text-align: center;
            transition: all 0.8s;
            transition-timing-function: ease-out;

            li {
                display: block;
                margin: 10vh 0;
                line-height: 30px;

                a {
                    font-size: 4vw;
                    color: darkorange;
                    font-weight: 600;

                    &:hover, &.active {
                        background: none;
                        color: #456276;
                    }
                }
            }
        }

        #check:checked ~ ul {
            left: 0;
        }
    }
}

#footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    background-color: #233139;
    width: 100%;
    height: 3rem;
    z-index: 2;
    overflow: hidden;

    .footer-links {
        display: flex;


        a {
        display: flex;
        padding: 1.5rem;
        color: white;
        font-size: 2rem;
        text-decoration: none;

        &:hover {
            color: darkorange;
            transition: .5s;
        }
        }

        @media screen and (max-width: $desktop-above-width) {
            a {
                color: darkorange;
            }
        }
    }

    .copyright {

        p {
            color: lightgray;
            font-size: 12px;
        }
    }
}

@import "landing";
@import "web-dev";
@import "blogs";
@import "contact";

