@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

p {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.5px;
}

body {
  background: url(./docs/waterfall_website.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  scroll-behavior: smooth;
}

#header {
  position: fixed;
  background: #233139;
  height: 50px;
  width: 100%;
  z-index: 1;
}

#header ul {
  float: right;
  margin-right: 40px;
}

#header ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 2px;
}

#header ul li a {
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

#header ul li a.active, #header ul li a:hover {
  background: #456276;
  -webkit-transition: .5s;
  transition: .5s;
}

#header .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 50px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#header #check {
  display: none;
}

@media (max-width: 1050px) {
  #header .checkbtn {
    display: block;
    margin-right: 40px;
  }
  #header ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #63819A;
    top: 50px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  #header ul li {
    display: block;
    margin: 10vh 0;
    line-height: 30px;
  }
  #header ul li a {
    font-size: 4vw;
    color: darkorange;
    font-weight: 600;
  }
  #header ul li a:hover, #header ul li a.active {
    background: none;
    color: #456276;
  }
  #header #check:checked ~ ul {
    left: 0;
  }
}

#footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0px;
  background-color: #233139;
  width: 100%;
  height: 3rem;
  z-index: 2;
  overflow: hidden;
}

#footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

#footer a:hover {
  color: darkorange;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 1050px) {
  #footer a {
    color: darkorange;
  }
}

#landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#landing h1, #landing h2 {
  color: white;
}

#landing span {
  color: darkorange;
}

#landing h1 {
  font-size: 10vw;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  #landing h1 {
    font-size: 5vw;
  }
}

#landing h2 {
  font-size: 5vw;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  #landing h2 {
    font-size: 3vw;
  }
}

#landing .fab {
  font-size: 7vw;
  margin: 0 3vw;
  color: white;
}

#landing .fab:hover {
  color: darkorange;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 992px) {
  #landing .fab {
    font-size: 3vw;
    margin: 0 3vw;
  }
}

#landing .arrow-down {
  position: absolute;
  margin: 15vw auto;
}

#landing .arrow-down .fas {
  font-size: 3vw;
  color: white;
}

#landing .arrow-down .fas:hover {
  color: darkorange;
  -webkit-animation: fly-up 1s;
          animation: fly-up 1s;
}

@media screen and (max-width: 770px) {
  #landing .arrow-down {
    margin: 50vw auto;
  }
  #landing .arrow-down .fas {
    font-size: 5vw;
  }
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  padding: 0 1rem 2rem 1rem;
}

#about img {
  max-width: 30vw;
  border-radius: 8px;
}

#about .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  margin: 1rem;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 10px 0px #141414;
          box-shadow: 10px 10px 10px 0px #141414;
}

#about .about-info .resume {
  color: white;
  background-color: #456276;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 0;
  margin: 1rem 0 1rem 1rem;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  max-width: 50%;
  text-align: center;
}

#about .about-info .resume:hover {
  color: #456276;
  background-color: darkorange;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 750px) {
  #about .about-info {
    margin-left: 0.5rem;
  }
}

#about .about-info h2, #about .about-info p, #about .about-info a {
  padding: 1rem;
}

@media screen and (max-width: 1050px) {
  #about {
    padding: 1rem;
  }
  #about img {
    max-width: 350px;
  }
}

@media screen and (min-width: 1051px) {
  #about {
    margin-bottom: 10vw;
  }
}

.web-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.web-dev .projects-text h1, .web-dev .projects-text p {
  padding: 1rem;
}

.web-dev .projects-text h1 {
  text-align: center;
  margin-top: 16px;
  color: white;
}

.web-dev .projects .project1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web-dev .projects .project1, .web-dev .projects .project2 {
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 10px 0px #141414;
          box-shadow: 10px 10px 10px 0px #141414;
}

.web-dev .projects .project1 img, .web-dev .projects .project2 img {
  width: 100%;
}

.web-dev .projects .project1 h2, .web-dev .projects .project1 img, .web-dev .projects .project1 p, .web-dev .projects .project2 h2, .web-dev .projects .project2 img, .web-dev .projects .project2 p {
  padding: 1rem 0;
}

.web-dev .projects .project1 .fab, .web-dev .projects .project2 .fab {
  color: #233139;
  font-size: 2rem;
}

.web-dev .projects .project1 .fab:hover, .web-dev .projects .project2 .fab:hover {
  color: darkorange;
}

.web-dev .skills {
  text-align: center;
  padding-top: 1rem;
}

.web-dev .skills h1 {
  padding: 1rem;
  color: white;
}

.web-dev .skills .skills-objects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 1rem;
}

.web-dev .skills .skills-objects .objects {
  margin: 7vw;
}

.web-dev .skills .skills-objects .objects .fab {
  font-size: 50px;
}

.web-dev .skills .skills-objects .objects img {
  max-width: 9vw;
}

.web-dev .skills .skills-objects .objects h3 {
  font-size: 3vw;
  font-weight: 600;
  color: white;
}

@media screen and (min-width: 700px) {
  .web-dev .projects-text {
    max-width: 50vw;
    margin-left: 25vw;
  }
  .web-dev .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .web-dev .projects .project1, .web-dev .projects .project2 {
    max-width: 45vw;
  }
  .web-dev .projects .project1 img {
    padding-bottom: 20px;
    background-color: #1b1b1b;
  }
  .web-dev .skills .skills-objects .objects {
    margin: 5vw;
  }
  .web-dev .skills .skills-objects .objects img {
    max-width: 5vw;
  }
  .web-dev .skills .skills-objects .objects h3 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1000px) {
  .web-dev {
    height: calc(100vh - 3rem);
  }
}

@media screen and (min-width: 1050px) {
  .web-dev .projects .project1, .web-dev .projects .project2 {
    max-width: 30vw;
    padding: 20px;
  }
  .web-dev .projects .project1:hover, .web-dev .projects .project2:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .web-dev .skills h1 {
    margin-top: 2rem;
  }
  .web-dev .skills .skills-objects {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .web-dev .skills .skills-objects .objects {
    margin: 3vw 4vw;
  }
  .web-dev .skills .skills-objects .objects img {
    max-width: 50px;
  }
}

h1, h2, p {
  color: black;
}

@media screen and (min-width: 2000px) {
  #footer {
    position: fixed;
  }
}

.blogs-page {
  background-image: url();
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.blogs-page h1 {
  text-align: center;
}

.blogs-page .blogs .blogs-each {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 10px 0px #141414;
          box-shadow: 10px 10px 10px 0px #141414;
}

.blogs-page .blogs .blogs-each img {
  width: 100%;
}

.blogs-page .blogs .blogs-each h2, .blogs-page .blogs .blogs-each img, .blogs-page .blogs .blogs-each p {
  padding: 1rem 0;
}

.blogs-page .blogs .blogs-each a {
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 700px) {
  .blogs-page .blogs .blogs-each {
    max-width: 45vw;
  }
}

@media screen and (min-width: 990px) {
  .blogs-page .blogs .blogs-each {
    max-width: 30vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 700px) {
  .blogs-page .blogs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

h1, h2, p {
  color: black;
}

.contact-page {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.contact-page .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.contact-page .contact img {
  max-width: 500px;
  border-radius: 8px;
}

@media screen and (max-width: 700px) {
  .contact-page .contact img {
    max-width: 100%;
  }
}

.contact-page .contact .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 10px 0px #141414;
          box-shadow: 10px 10px 10px 0px #141414;
}

.contact-page .contact .contact-text p {
  padding: 1rem 0;
}

.contact-page .contact .contact-text .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-page .contact .contact-text .icons .fab {
  font-size: 2rem;
  padding: 1rem 2rem;
  color: #233139;
}

.contact-page .contact .contact-text .icons .fab:hover {
  color: darkorange;
  -webkit-transition: .5s;
  transition: .5s;
}

.contact-page .contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 2rem 0;
  background-color: white;
  padding: 2rem 0;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 10px 0px #141414;
          box-shadow: 10px 10px 10px 0px #141414;
}

.contact-page .contact .contact-form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80%;
  margin-left: 10%;
}

.contact-page .contact .contact-form .info p {
  margin-left: 0px;
  min-width: 30%;
  border-radius: 4px;
  color: darkorange;
  font-weight: 600;
}

.contact-page .contact .contact-form .info input[type=text] {
  background-color: #233139;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  width: 100%;
  border-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 5px;
}

.contact-page .contact .contact-form .info p, .contact-page .contact .contact-form .info input {
  margin: 0.5rem 0;
}

.contact-page .contact .contact-form .message {
  text-align: center;
  margin: 1rem 0;
}

.contact-page .contact .contact-form .message textarea {
  background-color: #233139;
  border-radius: 4px;
  width: 80%;
  height: 5rem;
  color: white;
}

.contact-page .contact .contact-form .message textarea::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.contact-page .contact .contact-form .message textarea:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.contact-page .contact .contact-form .message textarea::-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.contact-page .contact .contact-form .message textarea::placeholder {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.contact-page .contact .contact-form .message [type=text] {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  padding: 5px;
  letter-spacing: 0.5px;
}

.contact-page .contact .contact-form .submit-button {
  text-align: center;
}

.contact-page .contact .contact-form .submit-button .submit {
  background-color: #456276;
  color: white;
  padding: 1rem;
  border-radius: 4px;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.contact-page .contact .contact-form .submit-button .submit:hover {
  background-color: darkorange;
  color: #456276;
  -webkit-transition: .5s;
  transition: .5s;
}

@media screen and (min-width: 700px) {
  .contact-page .contact .image-and-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
  }
  .contact-page .contact .image-and-text img {
    width: 40vw;
    margin: 0 2vw;
  }
  .contact-page .contact .image-and-text .contact-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 30vw;
    margin-left: 2vw;
  }
  .contact-page .contact .image-and-text .contact-text p {
    max-width: 40vw;
    padding: 0;
  }
  .contact-page .contact .image-and-text .contact-text h2 {
    padding-bottom: 1rem;
  }
  .contact-page .contact .image-and-text .contact-text .icons .fab {
    font-size: 2rem;
    padding: 16px 40px 16px 0;
  }
  .contact-page .contact .contact-form {
    max-width: 500px;
  }
  .contact-page .contact .contact-form .info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-page .contact .contact-form .message {
    text-align: center;
  }
  .contact-page .contact .contact-form .message textarea {
    width: 80%;
  }
}

@media screen and (min-width: 700px) {
  .contact-page {
    height: 100vh;
    padding-top: 10vw;
  }
}
/*# sourceMappingURL=main.css.map */