.blogs-page {
    @include flex-column;
    position: relative;
    padding-top: 50px;

    h1 {
        text-align: center;
    }

    .blogs {

        .blogs-each {
            @include flex-column;
            padding: 1rem;
            align-items: center;
            margin: 1rem;
            background-color: white;
            border-radius: 8px;
            box-shadow: $box-shadow;

            img {
                width: 100%;
            }

            h2, img, p {
                padding: 1rem 0;
            }

            a {
                color: #233139;
                font-size: 3rem;

                &:hover {
                    @include icon-hover;
                    @include shake;
                }
            }
        }

        @media screen and (min-width: $tablet-width) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            .blogs-each {
                max-width: 45vw;
            }
        }

        @media screen and (min-width: $desktop-above-width) {
            .blogs-each {
                max-width: 30vw;
                justify-content: space-around;
                margin-bottom: 5rem;
            }
        }

    }
}