#landing {
    height: 100vh;
    width: 100%;
    display: flex;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1, h2 {
        color: white;
    }

    span {
        color: darkorange;
    }

    h1 {
        font-size: 10vw;
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;

        @media screen and (min-width: 992px) {
            font-size: 5vw;
        }
    }

    h2 {
        font-size: 5vw;
        font-weight: 600;
        margin-bottom: 1rem;

        @media screen and (min-width: 992px) {
            font-size: 3vw;
        }
    }

    .fab {
        font-size: 7vw;
        margin: 0 3vw;
        color: white;

        &:hover {
            color: darkorange;
            transition: .5s;
        }

        @media screen and (min-width: 992px) {
            font-size: 3vw;
            margin: 0 3vw;
        }
    }

    .arrow-down {
        position: absolute;
        margin: 15vw auto;

        .fas {
            font-size: 3vw;
            color: white;

            &:hover {
                @include icon-hover;
            }
        }

        @media screen and (max-width: 770px) {
            margin: 50vw auto;

            .fas {
                font-size: 5vw;
            }
        }
    }

}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0 1rem 2rem 1rem;

    img {
        max-width: 30vw;
        border-radius: 8px;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin: 1rem;
        background-color: white;
        border-radius: 8px;
        box-shadow: 10px 10px 10px 0px rgba(20,20,20,1);

        h2, p {
            color: black;
        }

        .resume {
            color: white;
            background-color: #456276;
            font-weight: 500;
            font-size: 20px;
            padding: 10px 0;
            margin: 0 0 1rem 2rem;
            border-radius: 4px;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
            max-width: 50%;
            text-align: center;

            &:hover {
                color: #456276;
                background-color: darkorange;
                transition: .5s;
            }
        }

        @media screen and (max-width: 750px) {
            margin-left: 0.5rem;
        }

        h2, p, a {
            padding: 1rem;
        }
    }

    @media screen and (max-width: 1050px) {
        padding: 1rem;

        img {
            max-width: 350px;
        
        }
    }

    @media screen and (min-width: 1051px) {
        margin-bottom: 10vw;
    }
}

