.web-dev {
    @include flex-column;
    position: relative;
    padding-top: 50px;

    .projects-text {
        h1, p {
            padding: 1rem;
        }

        h1 {
            text-align: center;
            margin-top: 16px;
            color: white;
        }
    }

    .projects {

        .project1 {
            justify-content: space-between;
        }
        
        .project1, .project2 {
            @include flex-column;
            align-items: center;
            background-color: white;
            border-radius: 8px;
            padding: 1rem;
            margin: 1rem;
            box-shadow: $box-shadow;

            img {
                width: 100%;
            }

            h2, img, p {
                padding: 1rem 0;
            }

            .fab {
                color: #233139;
                font-size: 2rem;

                &:hover {
                    @include icon-hover;
                }
            }
        }
    }

    .skills {
        text-align: center;
        padding-top: 1rem;

        h1 {
            padding: 1rem;
            color: white;
        }

        .skills-objects {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 0 1rem;

            .objects {
                margin: 7vw;
            
                .fab {
                    font-size: 50px;
                }

                img {
                    max-width: 9vw;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 600;
                    color: white;
                }
            }
        }
    }

    @media screen and (min-width: $tablet-width) {

        .projects-text {
            max-width: 50vw;
            margin-left: 25vw;
        }

        .projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1rem;

            .project1, .project2 {
                max-width: 45vw;
            }

            .project1 {
                img {
                    padding-bottom: 20px;
                    background-color: rgb(27, 27, 27);
                }
            }
        }

        .skills {

            h1 {
                margin-top: 1rem;
            }

            .skills-objects {

                .objects {
                    margin: 5vw;
                    
                    img {
                        max-width: 5vw;
                    }

                    h3 {
                        font-size: 20px;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    @media screen and (min-width: $desktop-above-width) {

        .projects {

            .project1, .project2 {
                max-width: 30vw;
                padding: 20px;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        .skills {

            h1 {
                margin-top: 2rem;
            }

            .skills-objects {
                justify-content: center;

                .objects {
                    margin: 3vw 4vw;

                    img {
                        max-width: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    #footer {
        position: fixed;
    }
}